{% extends 'team_incharge/layout/dabba_header.html' %}
{% load static %}
{% block team_incharge_dabba %}
<div class="" style="margin-top: 20vh">
<div class="content container-fluid" style = "margin-right: 0%;">
    <div class="row"> 
        {% for i,j in data.items %} 
    <div class="col-lg-6 col-md-6 col-sm-6 text-center">
        <div class="card card-user" >
          <!-- <div class="image">
              <img src="{% static 'assets/img/damir-bosnjak.jpg' %}" alt="...">
          </div> -->
          <!-- <image class="card-image-top" src="{% static 'assets/img/damir-bosnjak.jpg' %}" alt="..."> -->
            {% if j.role == 1 %}
            <div class="card-body " style="background: #bae1ff">
            <div class="row">
              <!-- <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-globe text-warning"></i>
                </div> 
              </div> -->
              <!-- <img src="{% static 'assets/img/damir-bosnjak.jpg' %}" alt="..." style = "height:50vh" class="mr-auto"> -->

              <div class="col-10 col-md-8" style = "position: absolute;top: 45%;left: 45%;transform: translate(-50%, -50%);">
                <!-- <div class="numbers text-center">
                    
                </div> -->
                
                      <p class="numbers card-category"><a style = "text-decoration: none; color: black; font-weight: 1500;" href="team_incharge/{{j.team_id}}">{{j.team_name}}</a></p>
                      <!-- Role : Team Incharge -->
                    {% else %}
                    <div class="card-body " style="background: #ffb3bf">
                        <div class="row">
                          <!-- <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                              <i class="nc-icon nc-globe text-warning"></i>
                            </div> 
                          </div> -->
                          <!-- <img src="{% static 'assets/img/damir-bosnjak.jpg' %}" alt="..." style = "height:50vh" class="mr-auto"> -->
            
                          <div class="col-10 col-md-8" style = "position: absolute;top: 45%;left: 45%;transform: translate(-50%, -50%);">
                            <!-- <div class="numbers text-center">
                                
                            </div> -->
                        
                    <p class="numbers card-category"><a style = "text-decoration: none; color: black; font-weight: 1500;" href="{{j.team_id}}/team_member/">{{j.team_name}}</a></p>
                    <!-- <p class="card-category"></p>  
                    Role : Team Member -->
                    {% endif %}
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            {% if j.role == 1 %}
            <p>Role : Team Incharge</p>
            {% else %}
            <p>Role : Team Member</p>
            {% endif %}
            <p>Designation : {{j.designation}}</p>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i>{{request.sessions.roles}} 
        </div>
      </div> -->
      {% endfor %}
    </div>

</div>

</div>


<script>
    $(document).ready(function () {
      $('a').onclick(function(e) {
        console.log("hello")
      });
    });

</script>

{% endblock %}