{% extends 'team_incharge/layout/header.html' %}
{% block team_incharge %}
{% include 'team_incharge/team_incharge_rating.html'%}
<div class="content" id="report">
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Report</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Task
              </th>
              <th>
                Submission Status
              </th>
              <th>
                Rating
              </th>
            </thead>
            <tbody>
            {% for i,j in request.session.team_incharge_details.data.items %}
              {% if j.task_id == 0 %}
              <tr>
                <td>{{j.name}}</td>
                <td><small>No Task Assigned</small></td>
                <td>-</td>
                <td>-</td>
              </tr>
              {% else %}
                <tr>
                  <td>{{j.name}}</td>
                  <td>{{j.task_id}}</td>
                  {% if j.total_rating == -1 %}
                      {% if j.submitted == 0 %}
                        <td>Not Submitted</td>
                      {% else %}
                        <td>Submitted</td>
                      {% endif %}
                    <td><button class="btn btn-primary"><i class="nc-icon nc-paper"></i> Rate</button></td>
                  {% else %}
                    <td>Submitted</td>
                    <td>{{j.total_rating}}</td>
                  {% endif %}
                </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
          <!-- <button class="btn btn-primary"><i class="nc-icon nc-paper"></i> Submit</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}