{% extends 'team_member/layout/header.html' %}
{% block team_member %}
<div class="row">
      {% if len == 0%}
        No due Submissions
      {% else %}
      <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Upcoming Submissions</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Task
                    </th>
                    <th>
                      Deadline
                    </th>
                    <th>
                      &nbsp;
                    </th>
                    <!-- <th>
                      City
                    </th> -->
                    <!-- <th class="text-right">
                      Salary
                    </th> -->
                  </thead>
                  <tbody>
                  {% for i,j in data.items %}
                    {% for x in j.deadline%}
                      {% for y,z in x.items %}
                        {% if z == 0 %}
                        <tr>
                          <td>{{j.task_id}}</td>
                          <td>{{y}}</td>
                          <td><button class="btn btn-primary"><i class="nc-icon nc-paper"></i> Submit</button></td>
                        </tr>
                      {% endif %}
                      {% endfor %}
                    {% endfor %}
                    {% empty %}
                    <h5 class="card-title">No Upcoming Submissions</h5>
                  {% endfor %}
                  </tbody>
                </table>
                <!-- <button class="btn btn-primary"><i class="nc-icon nc-paper"></i> Submit</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
        
{% endblock %}
